*.d
*.o
bin/
nbproject/
nbproject
*.o
*.d
out
oot
oot/
.vscode/
*.DS_Store
.idea/
coursework/Core/Test.h
coursework/Core/src/
coursework/Core/CMakeLists.txt
coursework/Core/cmake-build-debug
coursework/Core/Generated.h
/coursework/tarfs_decipher.cpp
